services:
  ash-dynamo-test-container:
    image: amazon/dynamodb-local:latest
    container_name: ash-dynamo-test-container
    command: "-jar DynamoDBLocal.jar -sharedDb -inMemory"
    ports:
      - "8099:8000"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          '[ "$(curl -s -o /dev/null -I -w ''%{http_code}'' http://localhost:8000)" == "400" ]',
        ]
      timeout: 250ms
      interval: 250ms
      retries: 30
